*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded;
}

:root {
  --hue-neutral: 250;
  --hue-wrong: 0;
  --hue-correct: 250;
}

.body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 20%);
}

.container {
  width: 600px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
.quotes h2{
  color:rgb(0, 0, 0);
}


#kanyePhoto{
 height: 150px;
 padding-bottom: 40px;
}

.iframe{
  height: 40%;

}

.kanyePhoto{
  margin-bottom: 20px;
}

